body {
  background-image: url(/containers.jpg);
  background-size: cover;
  color: white;
}

h1 {
  font-size: 3em;
}

.info {
  width: 420px;
  margin: 30vh auto;
  padding: 20px 40px 40px;
  background: rgba(200, 54, 54, 0.5);
}